body {
  font-family: sans-serif;
  background-color: lightblue;
  margin: auto;
  padding: 10px 60px;
}

.container {
    overflow: auto;
    margin: 3.125rem auto 0 auto;
    min-width: 540px;
    max-width: 720px;
    border: 1px solid black;
}

.subtitle {
    margin-top: -25px;
}

h1 {
  margin: 20px;
  padding: 10px;
  text-align: center;
}

form {
    padding: 2.5rem;
    border: 1px solid black;
}

label {
    display: flex;
}

.labelInputDiv {
    margin: 0 auto 1.25rem auto;
    padding: 0.25rem;
}

.infoInput {
    display: block;
}

.center {
    text-align: center;
}
