body {
    background-size: cover;
    background-image: linear-gradient(115deg, rgba(231, 28, 204, 0.5), rgba(173, 8, 110, 0.5), rgba(155, 12, 67, 0.5)), url(https://st4.depositphotos.com/9057096/38733/i/600/depositphotos_387336914-stock-photo-hand-drawn-decorative-cosmetics-frame.jpg);
    font-family: sans-serif;
}

header {
    padding: 0.375rem 0.75rem;
    margin-bottom: 1.875rem;
    height: 100%;
}

.container {
    overflow: auto;
    margin: 0 auto 0 auto;
    min-width: 540px;
    max-width: 720px;
}

.subtitle {
    margin-top: -25px;
}

h1 {
    font-weight: bold;
    line-height: 1.2;
    margin: 20px;
    padding: 10px;
}

form {
    opacity: 80%;
    background: rgb(70, 14, 122);
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
}

label, p {
    font-size: 18px;
    color: white;
    display: flex;
}

.labelInputDiv {
    margin: 0 auto 1.25rem auto;
    padding: 0.25rem;
}

.infoInput {
    font-size: 16px;
    display: block;
    box-sizing: border-box;
    width: 630px;
    height: 2.375rem;
    padding: 0.375rem 0.75rem;
    margin-top: 10px;
}

.selectexp {
    font-size: 16px;
    box-sizing: border-box;
    width: 630px;
    height:2.375rem;
    padding: 0.375rem 0.75rem;
    margin-left: 4.5px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-radius: 2px;
}

.center {
    text-align: center;
}

textarea {
    resize: none;
    max-height: 30px;
}

.cBox {
    margin: ;
    width: 16px;
    height: 16px;
}

.cBoxL {
    margin-bottom: 10px;
}

/*******************************************************************************************/
.cb-and-textarea-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
.cb-and-textarea-wrapper label {
    margin-right: 10px;
  }
  
.cb-and-textarea-wrapper .feedback {
    display: none;
    width: 200px;
    resize: none;
  }

.cb-and-textarea-wrapper {
    display: flex;
    align-items: center;
}
.feedback {
    display: none;
}
/*******************************************************************************************/